body {
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
}

/* Header Section */
.header-section {
    background-image: url(Image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

/* Navbar Section */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 6rem;
}

#logo-text {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: 350;
    color: #f2bb2f;
}

.button {
    width: 150px;
    height: 40px;
    color: black;
    font-family: "Poppins", sans-serif;
    padding: 1 rem;
    border: none;
    border-radius: 5px;
    background-color: #f2bb2f;
    transform: scale(1) translateY(0);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.1) translateY(-2px);
    z-index: 10;
}

.button:active {
    background-color: #fab403;
    transform: translateY(0);
}

/* Pop-Up Login */
.popUp {
    display: none;       
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: transparent;
    backdrop-filter: blur(2.5rem);
} 

.popUp-content {
    background-color: #fab403;
    margin: 10% auto;     
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;     
    position: relative;
}

.close-button {
    color: #ffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
}

/* Hero Section */
.hero-container {
    text-align: center;
    margin: 7rem auto;
    line-height: 1.5;
}

h1 {
    font-size: 3.3rem;
}

.hero-button {
    margin: 2rem;
}

.main-section {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
}

/* Services Section */
.services-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
}

 .services-card {
    background-color: #2f2d2d;
    text-align: center;
    line-height: 1.5;
    border-radius: 2.5%;
    transition: all 0.3s ease-in-out;
    min-width: 150px;
    max-width: 200px;
    padding: 2rem;
    height: auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
 }

 .services-card:hover {
    transform: scale(1.1);
    z-index: 10;
}

.icon {
    width: 80px;
    height: 80px;
    margin: 1rem auto;
    background-color: #434141;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

.icon.fa-solid {
    line-height: 1;
}

.icon .fa-earth-africa {
    color: #e034a7;
}

.icon .fa-file-lines {
    color: #41dde9;
}

.icon .fa-piggy-bank {
    color: #c934e0;
}

.icon .fa-display {
    color: #ffd364;
}

.services-card h2 {
    font-size: 1.2rem;
    padding-top: 1rem;
}

.services-card p {
    font-size: 0.6rem;
    padding-top: 1rem;
}

/* Footer Section */
.footer-section {
    height: 80vh;
}

.footer-container {
    background-color: #f2bb2f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    gap: 1rem;
    padding: 1rem 5rem;
}

/* Footer Left Section */
.footer-content {
    line-height: 1.5;
    margin-left: 7rem;
}

.footer-content h2 {
    font-size: 3rem;
}

.footer-content p {
    padding-top: 2rem;
    padding-right: 9rem;
}

.footer-content button {
    background-color: black;
    color: #8c8888;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    margin-top: 1.5rem;
    transform: scale(1) translateY(0);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.footer-content button:hover {
    transform: scale(1.1) translateY(-2px);
    z-index: 10;
}

.footer-content button:active {
    transform: translateY(0);
}

/* Footer Right Section */
.footer-image {
    flex-grow: 1;
    flex-shrink: 1;
}

.footer-image img {
    padding-top: 3rem;
}

/* Copyright Section */
.copyright {
    height: 6vh;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 1rem;
}

/* Responsive Styles */
@media (max-width: 600px) {
    
    .nav-container {
        padding: 1rem;
    }
    #logo-text {
        font-size: 1rem;
    }
    .button {
        width: 90px;
        height: 30px;
        font-size: 0.8rem;
    }
    .hero-container {
        margin: 3rem 2rem;
        line-height: 1;
    }
    h1 {
        font-size: 2rem;
    }
    .hero-button {
        margin: 1rem;
    }
    .main-section {
        height: auto;
        margin: 1rem
    }
    .services-container {
        flex-direction: column;
    }
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
    .footer-content {
        line-height: 1;
        margin-left: 0;
        text-align: center;
    }
    .footer-content h2 {
        font-size: 2rem;
    }
    .footer-image img {
        width: 250px;
        height: 150px;
    }
    .footer-content p {
    padding-top: 0.5rem;
    padding-right: 0;
    }
}

@media (min-width: 768px) {
    .nav-container {
        padding: 1rem;
    }
    #logo-text {
        font-size: 1.5rem;
    }
    h1 {
        font-size: 2rem;
    }  
    .main-section {
        height: auto;
        margin: 1rem;
    }
    .services-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
    .footer-content {
        line-height: 1;
        margin-left: 0;
        text-align: center;
    }
    .footer-content h2 {
        font-size: 2rem;
    }
    .footer-image img {
        width: 550px;
        height: 275px;
    }
    .footer-content p {
    padding-top: 0.5rem;
    padding-right: 0;
    }
}